// ==========================================================================
// Grid Container
// ==========================================================================

.grid__row {
    @include flex_grid_row;
    }

.grid__col--12.theme__colors {
    background-color: $gridcol12;
     @include grid_col;
     }

.grid__col--6.theme__colors {
    background-color: $gridcol6;
    @include grid_col;
    }

.grid__col--4.theme__colors {
    background-color: $gridcol4;
    @include grid_col;
    }
.grid__col--3.theme__colors {
    background-color: $gridcol3;
   @include grid_col;
    }
.grid__col--5.theme__colors {
    background-color: $gridcol5;
   @include grid_col;
    }
.grid__col--7.theme__colors {
    background-color: $gridcol7;
    @include grid_col;
    }
.grid__col--8.theme__colors {
    background-color: $gridcol8;
    @include grid_col;
    }
.centered.grid__col--7 {
    background-color: $gridcol7;
    @include grid_col;
    }

    [class^="grid__col--"] {
    margin-top: 0.75em;
    margin-bottom: 0.75em; 
    width: 100%; 
         
}      

@include mq(medium) {
    
    .grid__row {
        flex-direction: row;
             }

    .grid__col {
   
    @include g-columns; 
  }

     [class^="grid__col--"] {
         @include doubly(2%);
       }
            
        } 

/* end of @media (min-width: 769px) */


